/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #ac255e;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 10px 0 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: rgb(205, 154, 154);
    text-decoration: none;
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 50px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  h2, h3 {
    color: #333;
  }
  
  .main-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Budget Calculator Styles */
  .calculator-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .budget-section, .expenses-section {
    width: 48%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #ed3b7f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ed3b7f;
  }
  
  .summary-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ed3b7f;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .summary-box {
    text-align: center;
    width: 30%;
  }
  
  .expense-list-section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #ac255e;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  